* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 70px;
}


.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}
.logo-image {
   
    width: 568px;
    height: 500px;
    margin-left: 30px;
    display: inline-block;
}
section{
    display: inline-block;
    margin-left: 122px;
}
h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;

}

p {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 515px;
    height: 87px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
}
.log-in-button {
    width: 130px;
    height: 41px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background: #665AE1;
    border: none;
    cursor: pointer;
}

.button-final {
    width: 171px;
    height: 42px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    background: #ADFF00;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1260px){
    .logo-image {
        display: block;
        position: absolute;
        width: 354px;
        height: 317px;
        margin: 149px 22px 344px 14px;
    }
    header {
        display: none;
    }
    p {
        display: none;
    }

    h1 {
        position: absolute;
        width: 259px;
        height: 116px;
        font-size: 50px;
        line-height: 61px;
        margin: 495px 71px 0px -51px ;
        text-align: center;

    }

    h2 {
        position: absolute;
        width: 360px;
        height: 116px;
        font-size: 50px;
        line-height: 61px;
        margin: 569px 0px 0px -103px ;
        text-align: center;
    }

    .button-final {
        position: absolute;
        margin: 653px auto 0px  ;
        text-align: center;
    }


}
